<table style="width: 100%;">
    <tbody>
        <tr>
            <td style="width: 100.0000%;">{{:value.current_website}}<br></td>
        </tr>
    </tbody>
</table>
<p><br></p>
<p>{{:value.url}}</p>